.calendar {
  position: relative;
  display: flex;
  margin: auto;
  width: 7 * $blockWidth + 8 * $spaceBetweenBlocks;
  flex-wrap: wrap;
  
  & > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: $blockWidth;
    height: $blockHeight;
    margin: $spaceBetweenBlocks * 0.5;
    border: 1px solid black;
    background-color: #eee;
    visibility: hidden;
    transition: 0.5s;
  }

  & > div:hover {
    transform: translateY(-20px);
    cursor: pointer;
  }
}
